<nav class="flex justify-between shadow capitalize p-3 md:p-4">
    <div class="logo">
        <img src="" alt="logo">
    </div>
    <ul class="flex ">
        <li><a href="/">home</a></li>
        <li><a href="/login">log in</a></li>
        <li><a href="/admin">admin</a></li>
    </ul>
</nav>