<!DOCTYPE html>
<html lang="en">
    <%- include('./partails/head.ejs') %> 
<body>
    <%- include('./partails/nav.ejs') %> 
    <div class="container">
        <h1>admin welcome</h1>
        <div class="manage">
            <div class="users">
                <a href="/users">
                    <p>manage users</p>
                    <p>manage library user here</p>
                </a>
            </div>
            <div class="books">
                <a href="/books">
                    <p>manage books</p>
                    <p>manage library books here</p>
                </a>
            </div>
        </div>
    </div>
</body>
</html>