<!DOCTYPE html>
<html lang="en">
    <%- include('./partails/head.ejs') %> 
<body>
    <%- include('./partails/nav.ejs') %>

    <h1 class ="">welcome to e-library</h1> 
    <p>this is the our final year project</p>
    <div class="btn">
        <a href="/login">log in</a>
    </div>
</body>
</html>