<!DOCTYPE html>
<html lang="en">
    <%- include('./partails/head.ejs') %> 
<body>
    <%- include('./partails/nav.ejs') %> 
    <div class="container">
        <h1>register new user</h1>
        <form action="/register" method="POST">

        </form>
    </div>
</body>
</html>